
   <section class="ftco-section ftco-degree-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 ftco-animate">
          <p class="mb-5">
            <img src="<%-article.post_image%>" alt="" class="img-fluid">
          </p>
          <h2 class="mb-3"><%= article.title %> </h2>
           <p> <%- article.sanitizedHtml %></p>

            <a href="/" class="btn btn-success">Tüm Yazılar</a>
           <a href="/articles/edit/<%= article.id %>" class="btn btn-dark">Düzenle</a>
           

        </div> <!-- .col-md-8 -->
        <div class="col-lg-4 sidebar pl-lg-5 ftco-animate">
          <div class="sidebar-box">
            <form action="#" class="search-form">
              <div class="form-group">
                <span class="icon icon-search"></span>
                <input type="text" class="form-control" placeholder="Type a keyword and hit enter">
              </div>
            </form>
          </div>
          <div class="sidebar-box ftco-animate">
            <div class="categories">
              <h3>Kategoriler </h3>
              <li><a href="#">Progresif Metal <span class="ion-ios-arrow-forward"></span></a></li>
              <li><a href="#">Heavy Metal <span class="ion-ios-arrow-forward"></span></a></li>
              <li><a href="#">Deep House <span class="ion-ios-arrow-forward"></span></a></li>
              <li><a href="#">Black Metal <span class="ion-ios-arrow-forward"></span></a></li>
              <li><a href="#">Thrash Metal <span class="ion-ios-arrow-forward"></span></a></li>
            </div>
          </div>

          <div class="sidebar-box ftco-animate">
            <h3>Son Yazılar</h3>

            


            <div class="block-21 mb-4 d-flex">
              <a class="blog-img mr-4" style="background-image: url(<%-article.post_image%>);"></a>
              <div class="text">
                <h3 class="heading"><a href="#"><%-article.title  %> </a></h3>
                <div class="meta">
                  <div><a href="#"><span class="icon-calendar"></span> <%= article.createdAt.toLocaleDateString() %></a></div>
                  <div><a href="#"><span class="icon-person"></span> Username</a></div>
                  <div><a href="#"><span class="icon-chat"></span> Yorumlar</a></div>
                </div>
              </div>
            </div>

             

        </div>

      </div>
    </div>
  </section> 

  